<% @posts.each do |post| %>
  <h3><%= link_to post.title, post.public_path %></h3>
  <p>Published on: <time datetime="<%= post.published_at.xmlschema %>"><%= post.published_at %></time></p>
  <%= raw post.body%>
<% end %>

<%= will_paginate @posts %>